.img1-pg1 {
    width: 90%;
}

.img2-pg1 {
    width: 100%;
}

.img3-pg1 {
    width: 100%;
}

.img4-pg1 {
    width: 100%;
}

.img5-pg1 {
    width: 100%;
}

.searchbar {
    width: 300px;
    height: 22px;   
}
.contents {
    list-style-type: none;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    width: 120px;
    text-align: left;
    padding: 7px;
    margin-left: 18px;
    font-size: 12px;
}

.infobox {
    display: flex;
    flex-direction: column;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    width: 290px;
    font-size: 12px;
    align-items: center;
    float: right;
    margin: 10px;
    padding: 5px;
    gap: 3px;
    line-height: 160%;
}

.infobox p {
    margin: 0px;
}

.infobox-title {
    font-size: 14px;
    font-weight: bold;
    background-color: #C3D6EF;
    width: 90%;
    text-align: center;
}

.infobox-subtitle {
    background-color: #DCDCDC;
    width: 90%;
    text-align: center;

}

.infobox img {
    width: 100%;
}

.sources li {
    padding: 3px 0px;
}