.body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 170%;
}

.article-bg {
    border: 1px solid #a7d7f9;
    background-color: white;
}

.navbar-bg {
    background-color: #f6f6f6;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.section-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: left;
    color: black;
}

.p-title {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: black;
}

.sidenav {
    font-family: sans-serif;
    font-size: 12px;
}

.sidenav li {
    list-style-type: none;
}

.topnav {
    font-size: 12px;
}

footer {
    font-size: 10px;
    background-color: #f6f6f6;
}

footer ul {
    list-style: none;

}

footer li p {
    padding: 0px 6px;
    float: left;
}