.img1-pg5 {
    width: 80%;
}

.img2-pg5 {
    width: 80%;
}

.img3-pg5 {
    width: 100%;
}

.img4-pg5 {
    width: 70%;
}

table {
    font-size: 11px;
    padding: 5px;
    text-align: left;
}

.searchbar {
    width: 300px;
    height: 22px;   
}

.contents {
    list-style-type: none;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    width: 97px;
    text-align: left;
    padding: 7px;
    margin-left: 18px;
}

.infobox {
    display: flex;
    flex-direction: column;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    width: 250px;
    font-size: 12px;
    align-items: center;
    float: right;
    margin: 10px;
}

.infobox p {
    margin: 0px;
}

.infobox-title {
    font-size: 14px;
    font-weight: bold;
}

.infobox img {
    width: 60%;
}