.homepg-title {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 7px 0;
    height: 20px;
    margin-bottom: 0px;
}

.homepg-subtitle {
    font-size: 12px;
    text-align: center;
    padding: 0px 0;
    width: 100%;
    height: 20px;
}

.div-headerbackground {
    background-color: #f9f9f9;
    height: 115px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 0px 5px;

}

.div-articlebackground1 {
    background-color: #f5fffa;
    width: 100%;
    height: 900px;
    border: 1px solid #cef2e0;
    padding: 0px 5px;
}

.div-articletitlebackground1 {
    background-color: #cef2e0;
    border: 1px solid #a3bfb1;
    margin: 5px 10px;
}

.div-articlebackground2 {
    background-color: #f5faff;
    width: 100%;
    border: 1px solid #cedff2;
    height: 900px;
    padding: 0px 5px;

}

.img2 {
    width: 80%;
}

.img3 {
    margin: 10px;
    width: 90%;
}

.img4 {
    width: 90%;
}

.img5 {
    width: 80%;
}


.div-articletitlebackground2 {
    background-color: #cedff2;
    border: 1px solid #a3b0bf;
    margin: 5px 10px;
}

.div-articlebackground3 {
    background-color: #faf5ff;
    border: 1px solid #ddcef2;

}

.div-articletitlebackground3 {
    background-color: #ddcef2;
    border: 1px solid #afa3bf;
}

.div-articlebackground4 {
    background-color: white;
    border: 1px solid #e2e2e2;

}

.div-articletitlebackground4 {
    background-color: #eee;
    border: 1px solid #ddd;
    margin: 5px 10px;
}

table {
    font-size: 16px;
    margin-left: 20px;
    width: 1100px;
}

td {
    width: 20px;
    ;
}

table font {
    float: left;
}

table img {
    width: 70%;
}

.article-footer2 {
    text-align: left;
}

.wikilanguages {
    text-align: center;
}

.table-img2,
.table-img6,
.table-img10 {
    width: 80%;
}

.table-img4,
.table-img8,
.table-img12 {
    width: 80%;
}

.left-col {
    float: left;
}

.right-col {
    float: right;
}

.left-col,
.right-col {
    width: 49%;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}